<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-white">

    <ul class="navbar-nav">

        <li class="nav-item">
            <a routerLink="lista" routerLinkActive="active" class="nav-link">Lista de empleados</a> <!--routerLink llamara a empleados que es un endpoint ubicado en app-routing-->
        </li>

        <li class="nav-item">
            <a routerLink="registrar" routerLinkActive="active" class="nav-link">Añadir empleado</a> <!--routerLink llamara a empleados que es un endpoint ubicado en app-routing-->
        </li>

    </ul>

</nav>

<h1 class="text-center">{{title}}</h1>

<div class="container">

    <router-outlet></router-outlet>

</div>